<app-nav></app-nav>
  
  <!-- Formulario de Login -->
  <div class="container">
    <mat-card class="login-form">
      <mat-card-header>
        <mat-card-title class="title">Ingreso</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Ingrese su Email" />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email es requerido</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña" />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerida</mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingreso</button>
        </form>
         <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  