<h1>Compañía</h1>
<div *ngIf="!company">
    <h2>No tienes una compañía registrada</h2>
    <button mat-raised-button color="primary" (click)="openCompanyForm()">Agregar Compañía</button>
  </div>
  
  <div *ngIf="company">
    <h2>Información de la Compañía</h2>
    <p><strong>Nombre:</strong> {{ company.name }}</p>
    <p><strong>Logo:</strong> <img [src]="company.logoUrl" alt="Logo" width="100"></p>
    <p><strong>RUT:</strong> {{ company.rut }}</p>
  
    <hr />
    <div class="company-title">
      <h2>Dispositivos Registrados</h2>
      <button mat-raised-button color="primary" (click)="openAddDeviceDialog()">Agregar Dispositivo</button>
      <button mat-stroked-button color="primary" (click)="uploadDevicesWithImporter()">Importar dispositivos en lote</button>
    </div>
    <table mat-table [dataSource]="company.devices" *ngIf="company.devices && company.devices.length > 0">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let device"> {{ device.name }} </td>
      </ng-container>
    
      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let device"> {{ device.model }} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let device"> {{ device.description }} </td>
      </ng-container>
    
      <ng-container matColumnDef="photos">
        <th mat-header-cell *matHeaderCellDef> Fotografías </th>
        <td mat-cell *matCellDef="let device">
          <div *ngFor="let photo of device.photos">
            <img [src]="photo" alt="Device photo" width="100">
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  
    <p *ngIf="company.devices && company.devices.length === 0">No hay dispositivos registrados.</p>
  </div>
  